* {
  font-family: "Source Code Pro";
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 5% auto 5%;
  grid-template-areas:
    "navbar . ."
    ". body ."
    ". footer .";
}

.main {
  grid-area: body;
  justify-self: center;
  align-self: start;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

nav {
  position: absolute;
  top: 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
}

nav ul li:hover {
  transform: scale(1.1);
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 10px;
}

@keyframes fadeInText {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated {
  animation-name: fadeInText;
  animation-duration: 0.6s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

h1 {
  font-weight: 400;
}

p {
  text-align: justify;
}

h3 {
  text-align: left;
}

.main-list {
  text-align: left;
}

li {
  padding-bottom: 5px;
}

.company-link {
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}

.footer-area {
  grid-area: footer;
}

hr {
  justify-self: center;
  align-self: start;
  width: 100%;
}

footer {
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% auto 5%;
    grid-template-areas:
      "navbar"
      "body"
      "footer";
  }

  img {
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    padding: 0;
  }
}
