* {
  font-family: "Source Code Pro";
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 5% auto 5%;
  grid-template-areas:
    ". . ."
    ". body ."
    ". footer .";
}

.main {
  grid-area: body;
  justify-self: center;
  align-self: start;
  padding-top: 10%;
}

@keyframes fadeInText {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated {
  animation-name: fadeInText;
  animation-duration: .6s;
  animation-delay: .3s;
  animation-fill-mode: both;
}

.pic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.header {
  text-align: center;
}

.link {
  margin: 10px;
  text-decoration: none;
  text-align: center;
}

.web-list {
  list-style: none;
  text-align: center;
  padding-bottom: 15px;
}

.social-list {
  list-style: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  text-align: center;
  display: block;
}

h3 {
  padding-bottom: 10px;
}

.footer-area {
  grid-area: footer;
  align-self: end;
}

footer {
  text-align: center;
}

a:visited {
  color: blue;
}

.main ul li:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 5%;
    grid-template-areas:
      "body"
      "footer";
  }
}