* {
  font-family: "Raleway";
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 150px 750px 150px;
  grid-template-areas:
    "pad pad pad"
    "pad body pad"
    "pad footer pad";
}

.main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
}

@keyframes fadeInText {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated {
  animation-name: fadeInText;
  animation-duration: .6s;
  animation-delay: .3s;
  animation-fill-mode: both;
}

.pic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.header {
  text-align: center;
}

.link {
  margin: 10px;
  text-decoration: none;
  text-align: center;
}

.web-list {
  list-style: none;
  text-align: center;
  padding-bottom: 15px;
}

.social-list {
  list-style: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  text-align: center;
  display: block;
}

h1 {
  font-weight: 400;
}

h3 {
  padding-bottom: 10px;
}

hr {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  align-self: end;
}

footer {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
}

a:visited {
  color: blue;
}

.main ul li:hover {
  transform: scale(1.1);
}