* {
    font-family: "Source Code Pro";
    font-weight: 300;
}

body,
.container {
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 5% auto 5%;
    grid-template-areas:
        "pad pad pad"
        "pad body pad"
        "pad footer pad";
}

nav {
    position: absolute;
    top: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li:hover {
    transform: scale(1.1);
}

.header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: end;
}

.main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow-x: hidden;
    justify-self: center;
    align-self: start;
    text-align: center;
}

@keyframes fadeInText {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animated {
    animation-name: fadeInText;
    animation-duration: .6s;
    animation-delay: .3s;
    animation-fill-mode: both;
}

header {
    text-align: center;
}

.main-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.prj-body {
    padding-bottom: 20px;
    list-style: none;
}

a {
    text-decoration: none;
}

footer {
    padding-top: 30px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
}

@media (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 0% 100% 0%;
        grid-template-rows: 5% 90% 5%;
        grid-template-areas:
            "pad pad pad"
            "pad body pad"
            "pad footer pad";
    }

    img {
        border-radius: 50%;
        width: 30vw;
        height: 30vw;
        padding: 0;
    }
}